:root {
  /*Fonts*/
  --font-signika: 'Signika Negative', sans-serif;
  --font-roboto: 'Roboto Slab', sans-serif;
  --font-sarabun: 'Sarabun', sans-serif;
  /*Font colors*/
  --font-color-primary: #000000;

  /*Background colors*/
  --bg-dark-body: #04030f;
  --bg-light-header: rgb(219, 255, 247);

  /*Accesories*/
  --button-color: black;
}



html {
  box-sizing: border-box;
  font-family: var(--font-signika);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}


body {
  background-color: white;
  margin: 0;
  overflow-x: hidden;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(22, 22, 22);
  font-weight: 400;
}

a:hover,
.enlace-active {
  color: rgb(0, 0, 0);
}

.enlace-active {
  border-bottom: 1px solid rgb(107, 102, 124);
  color: rgb(0, 0, 0);
}

h1 {
  font-size: 2rem;
  color: var(--font-color-primary);
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

img {
  max-width: 95%;
  height: auto;
  border-radius: 2px;
  filter: grayscale(30%);
  box-shadow: 1px 1.5px 2px rgb(0, 0, 0);
}



/*Mobile version*/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: var(--bg-light-header);
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  padding: 0 1rem;
}

.header-logo {
  font-family: var(--font-signika);
  font-size: 2rem;
  font-weight: 800;
}

.header-menu {
  display: flex;
  /* justify-items: center; */
  /* display: none; */
  gap: 1rem;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section#about {
  justify-content: center;
}

.section#about::before {
  z-index: 999;
  background: rgba(0, 0, 0, 0.767);
}

.title {
  text-align: center;
}

.start-btn {
  width: 200px;
  height: 50px;
  background: var(--button-color);
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: inherit;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 1.5px 1.5px 1px rgb(0, 0, 0);
  opacity: 95%;
}

.start-btn:hover {
  opacity: 100%;
}