:root {
  /*Fonts*/
  --font-signika: 'Signika Negative', sans-serif;
  --font-roboto: 'Roboto Slab', sans-serif;
  --font-sarabun: 'Sarabun', sans-serif;
  /*Font colors*/
  --font-color-primary: rgb(150, 130, 221);

  /*Background colors*/
  --bg-dark-body: #04030f;
  --bg-light-header: rgb(191, 182, 223);

  /*Accesories*/
  --button-color: rgb(252, 226, 247);
  --button-hover-color: rgb(220, 255, 253);
}



html {
  box-sizing: border-box;
  font-family: var(--font-signika);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}


body {
  margin: 0;
  overflow-x: hidden;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(22, 22, 22);
  font-weight: 400;
}

a:hover,
.enlace-active {
  color: rgb(0, 0, 0);
}

.enlace-active {
  border-bottom: 1px solid rgb(107, 102, 124);
  color: rgb(0, 0, 0);
}

h1 {
  font-size: 2rem;
  color: var(--font-color-primary);
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}




/*Mobile version*/
.container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 1rem;
  height: 60px;
  background-color: var(--bg-light-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-family: var(--font-signika);
  font-size: 2rem;
  font-weight: 800;
}

.header-menu {
  display: flex;
  /* justify-items: center; */
  /* display: none; */
  gap: 1rem;
}

section {
  height: 100vh;
}

.start-btn {
  width: 200px;
  height: 50px;
  background-color: var(--button-color);
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}

.start-btn:hover {
  background-color: var(--button-hover-color);
}